{% extends "base.html" %}


{% block content %}

    <!--Custom 404 error image  -->
    <h1 class="text-center page-titles title-margin">404</h1>

    <div class="container card-top-space">
        <div class="row">
            <div class="col col-md-8 col-lg-6 mx-auto">
                <img class="img-fluid" src="../static/images/error_page_img.jpg" alt="404 error page image">
            </div>
        </div>
    </div>

    <div class="row">
        <a href="{{ url_for('get_posts') }}"  class="btn green-btn" aria-label="Back to home page">Back to the home page</a>
    </div>

{% endblock %}