<!-- 'Copying' the base.html so it doesnt need to be written -->
{% extends "base.html" %} 

<!-- Keeping block element name the same so info goes to the same block -->
{% block content %}
  <div class="container">
    <div class="row text-center card-btn-space">
      <h4 class="page-titles">Welcome to Claws!</h4><br>
      <p class="intro-greeting">A site for nail art loveers! Have a look, there's something for everyone!</p>      
    </div>
  </div>

  <!-- Search bar -->
  <div class="container">
    <div class="row my-3">
      <form action="{{ url_for('search') }}" method="POST" class="col-12">
        <i class="fas fa-search search-icon search-icon-margin"></i>
        <label class="search-icon-margin" for="query">Search for posts</label>
        <input class="form-control rounded-pill search-bar-pink" type="text" name="query" id="query" minlength="3"
          placeholder="" aria-label="default input example" required>
        <div class="row my-3 mx-auto">
          <!-- Button to reset search bar -->
          <div class="col mx-auto">
            <div class="text-center">
              <a href="{{ url_for('get_posts') }}" class="cancel-btn">Reset</a>
              <button class="send-btn" type="submit">Search</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- If the search find more than 0 posts display them -->
  {% if posts|length > 0 %}
  <div class="container">
    <div class="row" data-masonry='{"percentPosition": true }'>

      <!-- Loop through all posts present in database and display -->
      {% for posts in posts %}
      <!-- Each card links to own page if clicked -->
      <div class="col col-xl-4 col-lg-4 col-md-6 mb-2">
        <a href="{{ url_for('posts', post_id=posts._id) }}" class="card-styling text-decoration-none text-body">
          <div class="card border-0 mx-auto my-2" style="width: 18rem;">
            <img src="{{ posts.image }}" class="card-img-top" alt="image of {{ posts.title }}">
            <div class="card-body">
              <h5 class="text-underline card-title">{{ posts.title }}</h5>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  {% else %} 
  <div class="col text-center card-top-space">
    <h2 class="page-titles">Sorry, no posts found!</h2>
    <a href="{{ url_for('get_posts') }}" class="green-btn btn">Back to explore page</a>
  </div>
  {% endif %}

{% endblock %}

